@import url("./common.css");

/* Header Handler */
#header {
  width: 80%;
  height: 11vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 2em;
  z-index: 2;
  transition: background-color 0.3s ease-in-out;
}

#header.scrolled {
  background-color: rgba(0, 0, 0, 1);
  transition: background-color 0.3s;
}

#header .left {
  display: flex;
}

#header .traverseContainer i {
  background-color: rgba(0, 0, 0, 0.6);
  color: #acabab;
  font-size: 2rem;
  padding: 0.5em;
  border-radius: 50%;
  cursor: not-allowed;
}

#header .traverseContainer .traverseDown {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  display: none;
}

#header .searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5em;
  width: 30vw;
}

#header .searchContainer * {
  font-size: 1.5rem;
}

#header .searchIconContainer {
  height: 2.5em;
  width: 2.3em;
}

#header .searchForm {
  width: 100%;
}

#header .searchIcon {
  background-color: #fff;
  color: #000;
  font-size: 1.7rem;
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em 0em 0em 1em;
}

#header .searchInput {
  width: 100%;
  height: 2.5em;
  padding: 0.3em;
  border-radius: 0 1em 1em 0;
  outline: none;
  border: none;
}

#header .right * {
  width: 10em;
  height: 3em;
  font-size: 1.3rem;
  margin: 0 0.2em;
}

#header .signUpBtn {
  background-color: transparent;
  color: white;
}

#header button:active {
  outline: none;
  border: none;
}

@media (max-width: 910px) {
  #header {
    width: 100%;
    height: 70px;
  }
  #header .traverseContainer .traverseDown {
    display: inline-block;
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  #header {
    height: 60px;
  }
  #header .left {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  #header .traverseContainer i {
    font-size: 1rem;
  }

  #header .traverseContainer .traverseDown {
    display: inline-block;
    font-size: 0.8rem;
  }

  #header .searchContainer * {
    font-size: 1rem;
  }

  #header .searchContainer i {
    font-size: 1.3rem;
  }

  #header .right * {
    font-size: 1rem;
  }
}

@media (max-width: 465px) {
  #header .searchContainer * {
    font-size: 0.8rem;
  }

  #header .traverseContainer i {
    font-size: 0.8rem;
  }

  #header .searchContainer i {
    font-size: 0.8rem;
  }

  #header .right * {
    font-size: 0.6rem;
  }
}

@media (max-width: 340px) {
  #header .traverseContainer i:not(.traverseDown) {
    display: none;
  }

  #header .searchContainer {
    width: 40vw;
  }

  #header .right * {
    font-size: 0.5rem;
  }
}

/* Header Handler */

/* SideBar Handler */
#navBar {
  width: 20%;
  height: 88vh;
  background-color: #000;
  color: #a39696;
  font-size: 1rem;
  padding: 2em 0;
  position: fixed;
  z-index: 3;
}

#navBar.active {
  transform: translateY(100%);
}

#navBar * {
  font-size: 1.7rem;
  margin: 0.3em 0em;
}

#navBar i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}

#navBar .logo {
  text-align: center;
  cursor: pointer;
}

#navBar .navUpIcon {
  color: #fff;
  background-color: #1a1919;
  border-radius: 50%;
  display: none;
}

#navBar .logoImg {
  width: 25%;
  height: 25%;
}

#navBar .navContainer > div {
  display: flex;
  padding: 0em 1em;
  cursor: pointer;
  margin: 0.5em 0em;
  transition: color 0.3s;
}

#navBar .navContainer > div:hover *,
#navBar .navContainer > div.active * {
  color: #fff;
  transition: color 0.3s;
}

#navBar .navContainer p {
  font-weight: 400;
}

#navBar .top {
  margin: 2em 0px 1em;
  border-bottom: 1px solid #777676;
}

#navBar .middle i {
  background-color: #c2c0c0;
  color: black;
  padding: 0.4em;
  border-radius: 0.3em;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

#navBar .likedSongsContainer i {
  background: rgb(85, 20, 170);
  background: linear-gradient(
    90deg,
    rgba(85, 20, 170, 1) 0%,
    rgba(37, 150, 136, 1) 100%
  );
  color: #fff;
  filter: brightness(0.6);
  transition: filter 0.3s;
}

#navBar .createPlaylistContainer:hover i {
  background-color: white;
  transition: background-color 0.3s;
}

#navBar .likedSongsContainer:hover i {
  filter: brightness(1);
  transition: filter 0.3s;
}

#navBar p {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#navBar .bottom {
  position: absolute;
  bottom: 2em;
  left: 1em;
  display: flex;
  flex-direction: column;
}

#navBar .bottom a {
  font-size: 1.3rem;
  color: #948f8f;
  text-decoration: none;
  margin: 0.3em 0em;
}

@media (max-width: 910px) {
  #navBar {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.5s;
  }

  #navBar * {
    margin: 0em;
    font-size: 1.4rem;
  }

  #navBar.active {
    transform: translateY(0%);
    transition: transform 0.5s;
  }

  #navBar .top {
    margin: 0px 0px;
  }

  #navBar .logo {
    height: 80%;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navBar .navUpIcon {
    display: inline-block;
  }

  #navBar .logoImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #navBar .top {
    border-right: 1px solid #777676;
    border-bottom: none;
  }

  #navBar .bottom {
    position: static;
  }

  #navBar .middle i {
    font-size: 1.4rem;
  }

  #navBar .bottom a {
    font-size: 1rem;
  }
}

@media (max-width: 580px) {
  #navBar * {
    font-size: 1.1rem;
  }

  #navBar .logo {
    height: 80%;
    width: 10%;
  }

  #navBar .logoImg {
    width: 100%;
    height: 100%;
  }

  #navBar .middle i {
    font-size: 1.1rem;
  }

  #navBar .bottom a {
    font-size: 0.8rem;
  }
}

/* SideBar Handler */

/* Footer Handler */

#footer .signUpPreview {
  width: 100%;
  height: 12vh;
  background: rgb(170, 20, 164);
  background: linear-gradient(
    90deg,
    rgba(170, 20, 164, 1) 0%,
    rgba(117, 14, 207, 1) 50%,
    rgba(31, 185, 165, 1) 100%
  );
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
  font-size: 1rem;
}

#footer .left {
  color: #fff;
  font-size: 1.7rem;
}

#footer .left * {
  font-size: 1.6rem;
}

#footer .footerP {
  font-weight: 200;
  margin-top: 0.3em;
}

#footer button {
  width: 15em;
  height: 2.5em;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  color: #7255b4;
}

@media (max-width: 945px) {
  #footer button {
    font-size: 1.2rem;
  }
  #footer .left * {
    font-size: 1.4rem;
  }
}

@media (max-width: 850px) {
  #footer button {
    font-size: 1rem;
  }
  #footer .left * {
    font-size: 1rem;
  }
}

@media (max-width: 635px) {
  #footer .signUpPreview {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65px;
    z-index: 10;
  }

  #footer button {
    font-size: 0.7rem;
    margin: 0.6em 0em;
  }
  #footer .left * {
    font-size: 0.7rem;
    margin: 0px;
    text-align: center;
  }
}

/* Footer Handler */

/* Main Container Handler */
#main {
  position: fixed;
  overflow-y: auto;
  height: 88vh;
  width: 80%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #121212;
}

@media (max-width: 910px) {
  #main {
    width: 100%;
  }
}

/* Main Container Handler */
